<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>:(</h1>
        </div>
        <h2>{{error.statusCode}} - {{error.message}}</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse rerum nesciunt aliquid placeat veritatis
            debitis inventore reiciendis molestiae nihil
            cupiditate exercitationem incidunt ut, et voluptas! Ipsam dignissimos assumenda provident accusamus.</p>
        <a href="#">home page</a>
    </div>
</div>